[user]
	name = Andres
	email = x3enos@gmail.com
  signingkey = 4369AC8D
[mergetool]
  keepBackup = true
[push]
  default = simple
[core]
  editor = vim
	excludesfile = /Users/x3enos/.gitignore
[diff]
  tool = vimdiff
[color]
  ui = true
  interactive = true
  diff = true
[merge]
  tool = vimdiff
[pull]
  ff = only
  rebase = true
[commit]
  gpgsign = true
	template = /Users/x3enos/.stCommitMsg

[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
  please = push --force-with-lease
[status]
  relativePaths = true
[gpg]
	program = /usr/local/bin/gpg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
